*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #273035;
}
.container {
max-width: 1200px;
margin: 0 auto;
}
  
.navbar {
padding-bottom: 20px;
height: 30px; 
}
  
.mobile-menu {
border-bottom: 1px solid #FFD500;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 25px;
padding-bottom: 10px;
}
.mobile-menu .logo {
font-size: 24px;
color: white;
font-weight: 700;
line-height: 30px;
}
.mobile-menu .menu ul {
list-style: none;
display: flex;
gap: 50px; 
}
.mobile-menu .menu ul li a {
color: white;
font-size: 16px;
font-weight: 400;
text-decoration: none; 
}
.mobile-menu .menu ul li a:hover {
color: #FFD500;
text-decoration: underline;
transition: 0.5s linear; 
}
.mobile-menu .search i {
 color: white;
 font-size: 18px; 
}



main {
    padding-top: 100px; }
    main .wrap {
      display: flex; }
      main .wrap .part-left p {
        width: 476px;
        font-size: 64px;
        font-weight: 700;
        color: white; }
        main .wrap .part-left p span {
          color: #FFD400; }
      main .wrap .part-left .social-icons {
        padding-top: 150px; }
        main .wrap .part-left .social-icons span {
          color: white;
          font-size: 16px; }
        main .wrap .part-left .social-icons ul {
          list-style: none;
          display: flex;
          gap: 20px;
          padding-top: 10px;
         }
          main .wrap .part-left .social-icons ul li {
            background: #3691FC;
            border-radius: 50%;
            padding: 10px; }
            main .wrap .part-left .social-icons ul li:hover {
              transform: scale(1.2);
              transition: 0.3s linear; }
            main .wrap .part-left .social-icons ul li a {
              text-decoration: none; }
            main .wrap .part-left .social-icons ul li i {
              font-size: 18px;
              color: white; }
      main .wrap .part-center img {
        transform: translateY(300px); }
      main .wrap .part-rigth .text-content p {
        font-size: 16px;
        color: white;
        padding-bottom: 25px; }
      main .wrap .part-rigth .text-content button {
        padding: 10px 30px;
        background: #FFD500;
        border: 0;
        border-radius: 15px; }
      main .wrap .part-rigth .text-content .icons {
        padding-top: 80px; }
        main .wrap .part-rigth .text-content .icons i {
          color: #FFD500;
          font-size: 18px; }
      main .wrap .part-rigth .performs {
        padding-top: 72px;
        padding-left: 15px; }
        main .wrap .part-rigth .performs p {
          font-weight: 800;
          color: white;
          font-size: 32px; }
          main .wrap .part-rigth .performs p span {
            font-size: 16px; }


section{
  width: 0 auto;
  margin-top: 205px;
  height: 1340px;
  background-color: black;
}
section .wrapbox {
  display: flex; 
}
section .servic-section .wrapbox .p1 {
  width: 476px;
  font-size: 46px;
  font-weight: 700;
  color: white; 
  padding-top: 150px;
}
section .servic-section .wrapbox .p2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #CCCCCC;
  padding-left: 251px;
  padding-top: 170px;

}
section .servic-section .wrapbox span{
  color: #FFD400;
}
.section-box{
  width: 380px;
  height: 400px;
  background-color: #222B2F;
  border-radius: 16px;
}
.section-part{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 70px;
}
.section-part .section-box img{
  border-radius: 50%;
  padding: 42px 145px;
  border: none;
}
.section-part .section-box h1{
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
  color: #FFFFFF;
  border: none;
}
.section-part .section-box p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}
.section-part :hover{
  background-color: #38464D;
  border-bottom: 8px solid #FFD400;
}
.section-part .section-box .p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #FFD500;
  
}
#about{
  width: 1440px;
  height: 780px;
}

#about img{
  padding: 100px;
}
#about p{
  padding-left: 800px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #CCCCCC;
  padding-top: 24px;
}
#about h1{
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: #FFFFFF;
  padding-left: 800px;
  margin-top: -600px;
}
#about h1 span{
  color: #FFD500;
  text-decoration: underline;
}
#about .button{
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  color: #FFD500;
  padding-top: 40px;
}
#about .connect{
  padding-top: 90px;
}


  #about ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding-left: 990px;
    margin-top: -30px;
}
    #about  ul li {
      background: #3691FC;
      border-radius: 50%;
      padding: 10px; }
      #about  ul li:hover {
        transform: scale(1.2);
        transition: 0.3s linear;
        background-color: #FFD500;
        color: #3691FC;
       }
       #about  ul li:hover .fa-brands{
        color: #ed1717;
       } 
        #about  ul li a {
        text-decoration: none; }
        #about  ul li i {
        font-size: 18px;
        color: white; 
}
#about  .button:hover{
  font-size: 25px;
  text-shadow: 2px 2px 4px white;
  transition: 0.77s;
}



#work{
  width: 0 auto;
  height: 2520px;
  background-color: black;
}
#work .work-title h1{
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 150px;
}
#work .work-title h1 span{
  color: #FFD400;
  text-decoration: underline;
}
#work .work-title p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #CCCCCC;
  padding-top: 25px;
}
#work .work-box{
  width: 385px;
  background-color: #222B2F;
  height: 410px;
  border-radius: 16px;
}

#work .work-section .work-box img{
  border-radius: 50%;
  padding: 42px 147px ;
  border: none;
}

#work .work-section .work-box h1{
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
  border: none;
}
#work .work-section .work-box p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 16px;
  border: none;
}
#work .work-section .work-box .p a{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #FFD500;
  border: none;
}

#work .work-section .work-box  .p a i {
  padding-left: 15px;
  border: none;
}
#work .work-section{
  display: flex;
  gap: 25px;
  padding-top: 70px;
}
#work .work-section :hover{
  border-bottom: 8px solid #FFD400;
}
#work .work-form h1{
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 150px;
}
#work .work-form h1 span{
 color: #FFD400;
 text-decoration: underline;
}
#work .work-form p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  text-align: center;
  padding-top: 25px;
  color: #CCCCCC;
}
.work-img{
  display: flex;
  flex-wrap: wrap;
}
.work-img .work-img-title img{
  width: 590px;
  height: 390px;
  border-radius: 26px;
  padding: 72px;
}
.work-img .work-img-title img:hover{
  border-radius: 50%;
  transition: 1.5s;
}
.work-img .work-img-title .h1{
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */ 
  color: #FFFFFF;
  padding-top: 42px;
  padding-left: 80px;
}
.work-img .work-img-title .p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #FFFFFF;
  padding-top: 16px;
  padding-left: 80px;
}
.work-img .work-img-title p a{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-decoration-line: underline;
  color: #FFD500;
  padding-left: 80px;
}
.work-img .work-img-title p a i{
  padding-top: 32px;
  padding-right: 20px;
}
#contact{
  width: 0 auto;
  height: 450px;
}
#contact .personal{
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  padding-top: 75px;
}
#contact .personal .personal-title h1{
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
}
#contact .personal .personal-title p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #F0F3F4;
  padding-top: 30px;
}
#contact .personal .personal-title .personal-logo ul{
  list-style: none;
  display: flex;
  gap: 10px;
}
#contact .personal .personal-title .personal-logo ul li{
  background-color: #3691FC;
  border-radius: 10px;
}